# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.L-Gamal.iml
# Datasource local storage ignored files
/../../../../../../../:\951001\ToI\L-Gamal\.idea\.idea.L-Gamal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
